<%= form_for(offer) do |f| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="center">
  <div class="field">
    <%= f.label :agency %>
    <%= f.text_field :agency %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :app %>
    <%= f.text_field :app %>
  </div>

  <div class="field">
    <%= f.label :os %>
    <%= f.text_field :os %>
  </div>

  <div class="field">
    <%= f.label :geo %>
    <%= f.text_field :geo %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :agencyLink %>
    <%= f.text_field :agencyLink %>
  </div>

  <div class="field">
    <%= f.label :oferta_des %>
    <%= f.text_field :oferta_des %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
